/* media query manager

 0-600px = phone
 600-900px = tablet portrait
 900-1200px = tablet landscape
  1200-1800 = normal style apply
 1800px = big desktop


 breakpoint argument choices
- phone
- tab port
- tab land
- big desktop

ORDER: Base, typography, general layout, grid >> page layout 

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  background: black; }

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.9rem; }

h4 {
  font-size: 2.6rem; }

h5 {
  font-size: 2.3rem; }

h6 {
  font-size: 1.5rem; }

p {
  font-size: 2rem;
  font-weight: 300; }

.main-header {
  background: url(../img/main11.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 60rem;
  color: gold;
  position: relative;
  margin-bottom: 5rem; }
  @media (max-width: 37.5em) {
    .main-header {
      height: 75vh; } }
  .main-header .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .main-header .primary-overlay .navbar-fixed .transparent {
      border-bottom: 1px solid white; }
      .main-header .primary-overlay .navbar-fixed .transparent .container .nav-wrapper a,
      .main-header .primary-overlay .navbar-fixed .transparent .container .nav-wrapper ul {
        color: gold; }
      .main-header .primary-overlay .navbar-fixed .transparent .container .nav-wrapper ul a {
        font-size: 1.5rem; }
  .main-header .showcase {
    padding-top: 25rem; }
    .main-header .showcase img {
      position: absolute;
      width: 35rem;
      height: 12rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .main-header .showcase h1 {
      font-size: 4.5rem; }
    .main-header .showcase h2 {
      font-size: 3.5rem; }
    .main-header .showcase h4 {
      font-size: 3rem; }
    @media (max-width: 56.25em) {
      .main-header .showcase {
        padding-top: 40rem; } }
    @media (max-width: 75em) {
      .main-header .showcase {
        padding-top: 15rem; } }
    @media (max-width: 37.5em) {
      .main-header .showcase {
        padding-top: 18rem; }
        .main-header .showcase h1 {
          text-align: center;
          font-size: 4rem; }
        .main-header .showcase h2 {
          font-size: 2.3rem;
          text-align: center; }
        .main-header .showcase h4 {
          font-size: 2.5rem;
          text-align: center; } }
  .main-header .scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 47%;
    color: gold; }

.about {
  position: relative;
  background-image: linear-gradient(105deg, rgba(0, 0, 0, 0.6) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.9) 50%), url(/img/section/section.jpg);
  height: 40vh; }
  .about .row {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 0px; }
    .about .row .col {
      padding: 2rem; }
      .about .row .col .s6:nth-child(1) {
        color: gold; }
        .about .row .col .s6:nth-child(1) ol {
          font-size: 1.3rem; }
          .about .row .col .s6:nth-child(1) ol li p {
            font-size: 1.4rem;
            line-height: 1.8; }
            @media (max-width: 56.25em) {
              .about .row .col .s6:nth-child(1) ol li p {
                font-size: 1.3rem; } }
            @media (max-width: 37.5em) {
              .about .row .col .s6:nth-child(1) ol li p {
                font-size: 1.1rem; } }
      .about .row .col .s6:nth-child(2) .vision {
        margin-left: 2.5rem; }

.graphs {
  display: none;
  margin-top: 5rem; }
  .graphs .container .data {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 2rem; }
    .graphs .container .data .row div:nth-child(1) .row .col .card-panel {
      border: 1px solid white; }

.galleries .container .row .col .card .center-align {
  height: 4rem;
  padding-top: 1rem; }
  .galleries .container .row .col .card .center-align span {
    font-size: 1.2rem; }
    @media (max-width: 56.25em) {
      .galleries .container .row .col .card .center-align span {
        font-size: 1rem;
        color: red; } }
    @media (max-width: 37.5em) {
      .galleries .container .row .col .card .center-align span {
        font-size: 0.8rem;
        color: red; } }

.galleries .container .row .col .card .card-image span {
  font-size: 2rem;
  color: black; }

.section-contact {
  position: relative; }

.section-contact .card-panel {
  position: relative; }

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
