.main-header {
  background: url(../img/main11.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 60rem;
  color: $primary-color;
  position: relative;
  margin-bottom: 5rem;

  & .primary-overlay {
    //  background: rgba(63, 57, 77, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  & .showcase {
    padding-top: 20rem;

    h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 3.5rem;
    }
    h4 {
      font-size: 3rem;
    }
  }

  & .scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 47%;
    opacity: 0.5;
  }
}
