nav {
  .nav-wrapper {
    z-index: 2;
    border-bottom: 1px solid white;
    .container {
      .brand-logo,
      .button-collapse,
      ul.right li a {
        color: $primary-color;
      }

      ul.side-nav li a {
        color: red;
        z-index: initial;
      }

      ul#mobile-nav {
        // z-index: 50;
      }
    }
  }
}
